@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter-VariableFont.ttf);
}

body{
  font-family: "Inter",Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
}

/* slider btn */
.button{
  background-color: #d2d2d2;
  /* background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%)); */
  width: 100px;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}
.button::before{
  position: absolute;
  content: '';
  background-color: #fff;
  width: 45px;
  height: 45px;
  border-radius: 100px;
  margin: 2.4px;
  transition: 0.2s;
  right: 0px;
}

input:checked + .button{
  background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}


input:checked + .button::before{
  transform: translateX(-50px);
  background: hsl(230, 17%, 14%);
}

.dark-bg{
  background-color: hsl(230, 17%, 14%);
}